    body{
        background-color:gray;
    }
    #gameWindow{
        height:600px;
        width:800px;
        margin: 0 auto;
        background-color: black;
        position:relative;
        overflow: hidden;
    }
    
    header{
        text-align: center;
    }
    
    
    .object{
        position: absolute;
    }
    
    #Player{
        visibility: hidden;
        background-color:yellow;
        z-index: 5;
    }
    .button{
        cursor:hand;
        cursor:pointer;
        background-color:#FFAA00;
        text-align: center;
        border-radius:8px;
        padding:8px;
    }
    
    #btnMoveAnimals{
        width:60px;
        height:30px;
        top:240px;
        left:20px;
        z-index:3;
    }
    
    #debugInfo{
        position: absolute;
        width: 250px;
    }
    
    #Instructions{
        position: absolute;
        width: 250px;
        top: 300px;
    }
    
    .modebutton{
        background-color: Transparent;
        border: 1px solid gray;
        color: white;
        width: 100px;
        height: 40px;
        
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    
    .selected{
        border: 2px solid red;
    }
    
    .point{
      height: 7px;
      width: 7px;
      background-color: #ff00ff;
      border-radius: 50%;
      display: inline-block;
    
        z-index: 3;
    }
    
    .wall{
        background-color:white;
        z-index: 1;
    }
    
    #spawn{
        z-index: 2;
        background-color: #ffff00;
    }
    
    #generate{
        text-align: center;
        border: 1px solid black;
        background-color: white;
        width: 150px;
        margin: 0 auto;
    }
    
    #loadLevel{
        text-align: center;
        border: 1px solid black;
        background-color: white;
        width: 150px;
        margin: 0 auto;
    }
    #levelcode{
        width: 148px;
        margin: 0 auto;
        display: inline-block;
    }
    #loadarea{
        width: 152px;
        margin: 0 auto;
        background-color:red;
    }